PATIENT_HOST        = patient-app:8081
NOTE_HOST           = note-app:8082
REPORT_HOST         = report-app:8083

MYSQL_URL           = mysql
MYSQL_DATABASE_NAME = patient
MYSQL_USER          = [Enter MySql username]
MYSQL_PASSWORD      = [Enter MySql password]

MONGODB_URL         = mongodb
MONGODB_DATABASE    = note
MONGODB_USER        = [Enter MongoDB username]
MONGODB_PASSWORD    = [Enter MongoDB password]