spring.application.name                    = [application_name]
server.port                                = [port]

spring.data.mongodb.url                      = jdbc:mongodb://[host]:[port]/[database_name]?serverTimezone=UTC
spring.data.mongodb.username                 = [root]
spring.data.mongodb.password                 = [password]

spring.mvc.pathmatch.matching-strategy     = ant_path_matcher