<!DOCTYPE html>
<html lang="en">
<header>
    <div class="d-flex align-items-center">
        <div class="p-3">
            <img
                    alt="Mediscreen"
                    class="logo"
                    src="../images/mediscreen-logo.png" th:src="@{/images/mediscreen-logo.png}"
            >
        </div>
        <div class="col-7 p-2">
            <h1 class="fw-bold">
                MediScreen
            </h1>
        </div>
        <div class="align-items-end">
            <form class="d-flex" role="search">
                <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="material-icons align-items-end">search</i>
                </button>
            </form>
            <p class="primary-color bold">Questions? <a
                    class="primary-color fw-bold" href="/contact-us"
                    title="Contact us"
            >Contact us!</a></p>
        </div>
    </div>
</header>
</html>